/*!
 * Based off of the bootstrap template found ...
 * Start Bootstrap - Busines Frontpage (http://startbootstrap.com/template-overviews/business-frontpage)
 * Lisence is MIT
 *
 * SDGA Custom is the custom CSS for the SDGA website. 
 */

body {
    padding-top: 10 px;
}

.card {
    height: 100%;
}


#red{
  color: #fcfcfc;
}
.logo {
    height: 100px;
    display: block;
    margin: 0 auto;
}
